<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="WARN">
    <properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-dd-MM HH:mm:ss.SSS} %5p ${hostName} +--+ [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger additivity="false" level="DEBUG" name="lv.id.voldemars.deviceapi">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
